@page "/detalhes/{DetalhesId}"

<div class="carro-container">
    <h1>Informações do @Carro.Modelo</h1>
    <div class="info"><span>Marca:</span> <span id="marca">@Carro.Marca</span></div>
    <div class="info"><span>Modelo:</span> <span id="modelo">@Carro.Modelo</span></div>
    <div class="info"><span>Ano:</span> <span id="ano"></span>@Carro.Ano</div>
    <div class="info"><span>Cor:</span> <span id="cor"></span>@Carro.Cor</div>
    <div class="info"><span>Quilometragem:</span> <span id="quilometragem">@Carro.Quilometragem</span></div>
</div>